* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  background-image: linear-gradient(to top, #0c0203, rgb(1, 1, 3));
}

header {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
header img {
  justify-content: left;
  width: 20%;
  max-width: 100%;
  height: auto;
  transition: width 2s;
}
header img:hover {
  width: 30%;
}
header .player-humano {
  width: 20%;
  max-width: 100%;
  height: auto;
  justify-content: left;
  transition: width 2s;
}
header .player-humano:hover {
  width: 30%;
}
header nav {
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-align: center;
  margin: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: antiquewhite;
  text-decoration: none;
}
header nav ul li a:hover {
  color: rgb(30, 30, 33);
  background-color: rgb(36, 34, 34);
  transition: 1s;
}
header .menu-hamburguesa img {
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100px;
  max-width: 20%;
  max-height: 100%;
}
header .menu-hamburguesa a {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: antiquewhite;
}

/*1278 Pc low resolution*/
@media only screen and (min-width: 829px) and (max-width: 1279px) {
  header .menu-hamburguesa {
    display: block;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (min-width: 925px) and (max-width: 952px) {
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 924px) {
  nav {
    display: none;
  }
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 499px) {
  nav {
    display: none;
  }
  header .player-humano {
    display: none;
  }
  body {
    font-size: 12px;
  }
}
main {
  background-color: rgb(58, 58, 63);
}

#grid-pie {
  background-image: linear-gradient(to top, #0c0203, rgb(19, 5, 4));
}

footer {
  text-align: center;
}
footer ul li a {
  list-style: none;
}
footer .line {
  display: block;
  background: url(../assets/line.png) center no-repeat;
  width: 100%;
  overflow-x: hidden;
  height: 86px;
  transition: transform 2s;
}
footer .line:hover {
  transform: scaleX(0.1);
}
footer section .columnas-pie1234 {
  display: flex;
  justify-content: space-around;
}
footer section .columnas-pie1234 .columna-1 ul,
footer section .columnas-pie1234 .columna-2 ul,
footer section .columnas-pie1234 .columna-3 ul,
footer section .columnas-pie1234 .columna-4 ul {
  list-style: none;
}
footer section .columnas-pie1234 .columna-1 ul .email-support,
footer section .columnas-pie1234 .columna-2 ul .email-support,
footer section .columnas-pie1234 .columna-3 ul .email-support,
footer section .columnas-pie1234 .columna-4 ul .email-support {
  color: #fafafa;
  opacity: 0.3;
}
footer section .columnas-pie1234 .columna-1 ul li a,
footer section .columnas-pie1234 .columna-2 ul li a,
footer section .columnas-pie1234 .columna-3 ul li a,
footer section .columnas-pie1234 .columna-4 ul li a {
  text-decoration: none;
  font-family: open sans, sans-serif;
  list-style: none;
  color: rgb(85, 26, 139);
  font-size: large;
  font-weight: 700;
  transition: 2s;
}
footer section .columnas-pie1234 .columna-1 ul li a:hover,
footer section .columnas-pie1234 .columna-2 ul li a:hover,
footer section .columnas-pie1234 .columna-3 ul li a:hover,
footer section .columnas-pie1234 .columna-4 ul li a:hover {
  color: #fafafa;
}
footer .copyright {
  font-size: 12px;
  line-height: 1.4;
  color: antiquewhite;
}
footer .copyright .f-text {
  max-width: 800px;
  margin: 0 auto;
}

body main {
  width: 100%;
  height: 120vh;
  background: url(../assets/body-bg.jpg) center no-repeat;
  background-size: cover;
}
body main .carousel {
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  width: 70%;
}
body main .carousel:hover {
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
