@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&family=Philosopher&family=Poppins:wght@200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  background-image: linear-gradient(to top, #0c0203, rgb(0, 0, 0));
}

header {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 20%;
  max-width: 50%;
  height: auto;
  transition: width 1s;
}
header img:hover {
  width: 22%;
}
header .player-humano {
  width: 20%;
  max-width: 30%;
  height: auto;
}
header nav {
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-align: center;
  margin: 0px;
  font-size: large;
  padding: 10px 20px;
  font-family: philosopher, sans-serif;
  color: #ffdda9;
  border-radius: 3px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
header nav ul li a:hover {
  color: rgb(56, 47, 33);
  border-radius: 3px;
  background-color: rgb(36, 34, 34);
  border-color: #ffdda9;
}
header a {
  text-decoration: none;
  font-family: philosopher, sans-serif;
  color: #ffdda9;
}

/*1278 Pc low resolution*/
@media only screen and (min-width: 1279px) and (max-width: 1920px) {
  body .custom-card {
    margin: 0 200px;
  }
}
@media only screen and (min-width: 1013px) and (max-width: 1279px) {
  header .bg-custom {
    align-items: center !important;
    justify-content: center !important;
  }
  body .custom-card {
    margin: 0 200px;
  }
  body main .sparks {
    display: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 1278px) {
  .player-humano {
    display: none;
    font-size: 12px;
  }
  body .imagen-caracteristica-todo {
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: visible;
  }
}
@media only screen and (min-width: 583px) and (max-width: 902px) {
  header .bg-custom {
    display: none;
  }
}
@media only screen and (min-width: 583px) and (max-width: 782px) {
  nav,
  main .imagen-godworld {
    display: none;
  }
}
@media only screen and (min-width: 200px) and (max-width: 582px) {
  nav,
  main .imagen-godworld {
    display: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 678px) {
  footer .grid-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer .grid-container ul {
    justify-content: center;
  }
  footer .grid-container ul li {
    font-size: 18px !important;
  }
  footer .grid-container ul li a {
    font-size: 16px !important;
  }
  footer .grid-container h2 {
    justify-content: center;
    font-size: 18px !important;
  }
  footer .grid-container .email-support {
    font-size: 18px !important;
  }
  footer .f-text {
    margin: 2px 80px !important;
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 376px) {
  footer .voto {
    display: none;
  }
  footer .f-text {
    margin: 2px 0px;
    font-size: 2px;
  }
  main .animacion {
    display: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 313px) {
  footer small {
    display: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 499px) {
  nav {
    display: none;
  }
  header .player-humano {
    display: none;
  }
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 414px) {
  .imagen-caracteristica-todo h2 {
    margin: 0px 0px;
    font-size: 16px;
  }
  .imagen-caracteristica-todo p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
}
footer {
  background-image: linear-gradient(to top, #0c0203, rgb(19, 5, 4));
  padding: 10px;
}
footer .line {
  display: block;
  background: url(../assets/line.png) center no-repeat;
  width: 100%;
  overflow-x: hidden;
  height: 86px;
  transition: transform 2s;
}
footer .line:hover {
  transform: scaleX(0.1);
}
footer .grid-container {
  display: flex;
  justify-content: space-between;
}
footer .grid-container ul li a {
  list-style: lower-alpha;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  filter: drop-shadow(0 0 10px #ff2a00);
  transition: all 0.3s ease;
  color: #696868;
  text-decoration: none;
}
footer .grid-container ul li a:hover {
  color: #fff;
  text-decoration: none;
}
footer .grid-container h2 {
  font-family: philosopher, sans-serif;
  font-size: 27px;
  color: #ffdda9;
  filter: drop-shadow(0 0 10px #ff2a00);
}
footer .grid-container .email-support {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  filter: drop-shadow(0 0 10px #ff2a00);
  list-style: none;
}
footer .grid-container .email-support ul li p {
  color: black;
  list-style: none;
}

.mi-footer {
  background-image: linear-gradient(to top, rgb(1, 2, 1), rgb(11, 2, 3));
}

body h1 {
  color: #ffdda9;
}
body .card-container {
  min-height: 140vh;
}
body .main {
  width: 50%;
  height: 20%;
}
body .card-custom {
  display: flex;
  justify-content: center;
  background: #0b0203;
}
body .card-custom .sin-fondo {
  background: none;
}
body main {
  background-color: rgb(58, 58, 63);
  width: 100%;
  height: 120vh;
  background: url(../assets/body-bg.jpg) center no-repeat;
  background-size: cover;
}
body main .primera-plana {
  display: flex;
  align-items: center;
  justify-content: left;
}
body main .carousel {
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  width: 70%;
}
body main .carousel:hover {
  opacity: 0.9;
}
body main .icono-ws {
  position: fixed;
  bottom: 110px;
  right: 20px;
  transition: 1s;
  z-index: 1000;
}
body main .icono-ws:hover {
  transform: rotate(360deg) translateY(-14px);
}

@keyframes p-prev {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes p-next {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body main .animacion {
  position: relative;
  width: 300px;
  height: 300px;
}
body main .animacion .light-animation {
  background: url(../assets/online-img.png) bottom center no-repeat;
  width: 300px;
  height: 250px;
  background-position: 90% center;
}
body main .animacion .yellow-light {
  background: url(../assets/yellow-light.png);
  width: 300px;
  height: 300px;
  top: 0px;
  left: 0px;
  position: absolute;
  animation: 12s p-prev linear infinite;
  opacity: 0.7;
}
body main .animacion .blue-light {
  background: url(../assets/blue-light.png);
  width: 300px;
  height: 300px;
  top: 0pc;
  left: 0px;
  position: absolute;
  animation: 12s p-next linear infinite;
  opacity: 0.7;
}

footer .f-text {
  display: flex;
  margin: 10px 200px;
  font-size: 12px;
  color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@keyframes spark-5 {
  0% {
    bottom: -180px;
    transform: scale(0.6);
    opacity: 1;
  }
  25% {
    bottom: -120px;
    transform: scale(0.7);
    opacity: 1;
  }
  50% {
    bottom: -60px;
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    bottom: 0;
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    bottom: 60px;
    transform: scale(1);
    opacity: 0;
  }
}
body main .sparks {
  position: absolute;
  bottom: -70px;
  left: 120px;
  width: 100%;
  height: auto;
  pointer-events: none;
}
body main .sparks > div {
  position: absolute;
}
body main .sparks .spark-1 {
  background: url(../assets/spark_1.png) no-repeat;
  width: 764px;
  height: 313px;
  right: 165px;
  bottom: -120px;
  transform: scale(0.7);
  animation: spark-1 4s linear infinite;
  animation-delay: 1s;
}
body main .sparks .spark-2 {
  background: url(../assets/spark_2.png) no-repeat;
  width: 149px;
  height: 335px;
  right: 230px;
  bottom: -320px;
  transform: scale(0.7);
  animation: spark-1 4s linear infinite;
  animation-delay: 2s;
}
body main .sparks .spark-3 {
  background: url(../assets/spark_3.png) no-repeat;
  width: 128px;
  height: 165px;
  right: 280px;
  bottom: -140px;
  transform: scale(0.7);
  animation: spark-3 4s linear infinite;
  animation-delay: 2s;
}
body main .sparks .spark-big {
  background: url(../assets/spark_4.png) no-repeat;
  width: 794px;
  height: 176px;
  right: 0;
  bottom: -180px;
  transform: scale(0.7);
  animation: spark-5 4s linear infinite;
}

header .bg-custom {
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(4, 1, 3) !important;
}
header .bg-custom .navbar-toggler-icon {
  border-radius: 4px;
  color: #ffdda9;
  border: 1px solid #ffdda9;
}
header .button-custom {
  margin-bottom: 15px;
  color: #ffdda9;
  border: none;
  transition: 1s;
}
header nav .offcanvas-header .custom-txt,
header nav .offcanvas-body .custom-txt {
  color: #ffdda9;
  font-family: philosopher, sans-serif;
}
header nav .offcanvas-header a,
header nav .offcanvas-body a {
  color: #ffdda9;
  font-family: philosopher, sans-serif;
}

#carateristicas {
  background-color: #060101;
}

body main.caracteristicas {
  background-color: rgb(58, 58, 63);
  width: 100%;
  height: 0%;
  background: url() center no-repeat;
  /* background-size: cover; */
}
body main.caracteristicas .imagen-caracteristica-todo {
  margin: 20px;
  background: linear-gradient(to bottom, #060101, #ffac00, #060101);
}
body main.caracteristicas .imagen-caracteristica-todo .imagen-caracteristicas-fondo {
  display: flex;
  background-size: cover;
  height: 200px;
  overflow: hidden;
  opacity: 70%;
  align-items: center;
  padding: 20px;
  margin: 50px;
}
body main.caracteristicas .imagen-caracteristica-todo h2 {
  font-family: philosopher, sans-serif;
  font-weight: bold;
  color: #ffdda9;
  text-align: start;
}
body main.caracteristicas .imagen-caracteristica-todo p {
  font-family: philosopher, sans-serif;
  color: #ffdda9;
}
body main.caracteristicas .imagen-caracteristica-todo .button-caracteristicas {
  margin: 50px;
}
body main.caracteristicas .imagen-caracteristica-todo .button-caracteristicas .b-c {
  justify-content: center;
  background: #ffac00;
  border: #e39a22;
  color: #060101;
}
body main.caracteristicas .custom-card {
  padding: 20px;
}
body main.caracteristicas .custom-card .card {
  background-color: #ffac00;
  border: 2px solid #ffac00;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.43);
  margin-bottom: 30px;
  border-radius: 6px;
}
body main.caracteristicas .custom-card .card .mi-card {
  background-color: #ffac00;
  color: #060101;
  font-weight: bold;
  font-size: 25px;
  font-family: philosopher, sans-serif;
}
body main.caracteristicas .custom-card .card .cuerpo-card {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
  color: #b5bac1;
  background: #232428;
}
body main.caracteristicas .custom-card .card .cuerpo-card p {
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 1rem;
}
body main.caracteristicas .custom-card .card .cuerpo-card .text-golden {
  color: #ffac00;
}
body main.caracteristicas .custom-card .card .cuerpo-card .fa-caret-right:before {
  content: "\f0da";
}
body main.caracteristicas .custom-card .card .cuerpo-card p b,
body main.caracteristicas .custom-card .card .cuerpo-card p strong {
  color: #e0e0e0;
}
body main.caracteristicas .custom-card .card .cuerpo-card b,
body main.caracteristicas .custom-card .card .cuerpo-card strong {
  font-weight: bold;
}

.footer-caracteristicas .grid-container {
  display: flex;
  justify-content: space-between;
}
.footer-caracteristicas .grid-container ul li a {
  list-style: lower-alpha;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  filter: drop-shadow(0 0 10px #e39a22);
  transition: all 0.3s ease;
  color: #696868;
  text-decoration: none;
}
.footer-caracteristicas .grid-container ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.footer-caracteristicas .grid-container h2 {
  font-family: philosopher, sans-serif;
  font-size: 27px;
  color: #ffdda9;
  filter: drop-shadow(0 0 10px #e39a22);
}
.footer-caracteristicas .grid-container .email-support {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  filter: drop-shadow(0 0 10px #e39a22);
  list-style: none;
}
.footer-caracteristicas .grid-container .email-support ul li p {
  color: black;
  list-style: none;
}
.footer-caracteristicas .f-text {
  display: flex;
  margin: 10px 200px;
  font-size: 12px;
  color: #e39a22;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@keyframes scale-shockwave {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  5% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(8);
  }
}
@keyframes scale-shockwave2 {
  0% {
    transform: scale(1) rotate(280deg);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(8) rotate(280deg);
  }
}
body .main .top-effect {
  display: flex;
  position: absolute;
  width: 98%;
  height: 80%;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 15px;
  overflow: hidden;
  z-index: 100;
}
body .main .top-effect img:nth-child(2) {
  animation: scale-shockwave2 8s 6s infinite linear;
}
body .main .top-effect img:nth-child(1) {
  animation: scale-shockwave 8s infinite linear;
}
body .main .top-effect img {
  position: absolute;
  width: 30vh;
  opacity: 0.4;
}
body .main img {
  transition: 0.5s;
}
body .main img {
  overflow: hidden;
}
body .sticky-card {
  position: sticky;
  z-index: 99;
}

body .container-reglas {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #ffdda9;
}

/*# sourceMappingURL=style.css.map */
