@keyframes p-prev {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes p-next {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  main {
    .animacion {
      position: relative;
      width: 300px;
      height: 300px;

      .light-animation {
        background: url(../assets/online-img.png) bottom center no-repeat;
        width: 300px;
        height: 250px;
        background-position: 90% center;
      }

      .yellow-light {
        background: url(../assets/yellow-light.png);
        width: 300px;
        height: 300px;
        top: 0px;
        left: 0px;
        position: absolute;
        animation: 12s p-prev linear infinite;
        opacity: 0.7;
      }
      .blue-light {
        background: url(../assets/blue-light.png);
        width: 300px;
        height: 300px;
        top: 0pc;
        left: 0px;
        position: absolute;
        animation: 12s p-next linear infinite;
        opacity: 0.7;
      }
    }
  }
}
