$carousel-control-opacity: 0.5;
$carousel-control-hover-opacity: 0.9;
$carousel-control-transition: opacity 0.15s ease;
$carousel-caption-width: 70%;
body {
  h1 {
    color: #ffdda9;
  }
  .card-container {
    height: 130vh;
    min-height: 140vh;
  }
  .main {
    width: 50%;
    height: 20%;
  }
  .card-custom {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #0c0203, rgb(19, 5, 4));
    .sin-fondo {
      background: none;
    }
  }
  main {
    background-color: rgb(58, 58, 63);
    .primera-plana {
      display: flex;
      align-items: center;
      justify-content: left;
    }
    width: 100%;
    height: 120vh;
    background: url(../assets/body-bg.jpg) center no-repeat;
    background-size: cover;
    .carousel {
      align-items: center;
      opacity: $carousel-control-opacity;
      transition: $carousel-control-transition;
      width: $carousel-caption-width;
      &:hover {
        opacity: $carousel-control-hover-opacity;
      }
    }
    .icono-ws {
      position: fixed;
      bottom: 150px;
      right: 20px;
      transition: 1s;
      z-index: 1000;
      &:hover {
        transform: rotate(360deg) translateY(-14px);
      }
    }
  }
}
