footer {
  background-color: rgb(58, 58, 63);
  ul {
    li {
      a {
        list-style: none;
      }
    }
  }
  span {
    background-color: aqua;
    .line {
      display: block;
      background: url(assets/line.png) center no-repeat;
      width: 100%;
      overflow-x: hidden;
      height: 86px;
    }
  }
}
