footer {
  background-image: linear-gradient(to top, #0c0203, rgb(19, 5, 4));
  padding: 10px;
  .line {
    display: block;
    background: url(../assets/line.png) center no-repeat;
    width: 100%;
    overflow-x: hidden;
    height: 86px;
    transition: transform 2s;
    &:hover {
      transform: scaleX(0.1);
    }
  }

  .grid-container {
    display: flex;
    justify-content: space-between;
    ul {
      li {
        a {
          list-style: lower-alpha;
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          filter: drop-shadow(0 0 10px #ff2a00);
          transition: all 0.3s ease;
          color: #696868;
          text-decoration: none;
          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    h2 {
      font-family: philosopher, sans-serif;
      font-size: 27px;
      color: #ffdda9;
      filter: drop-shadow(0 0 10px #ff2a00);
    }
    .email-support {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      filter: drop-shadow(0 0 10px #ff2a00);
      list-style: none;
      ul {
        li {
          p {
            color: black;
            list-style: none;
          }
        }
      }
    }
  }
  .iconos {
    margin: 10px 0px;
    list-style: none;
    li {
      a{
        margin: 0px 4px;
      }
    }
  }
}
.mi-footer {
  background-image: linear-gradient(to top, rgb(1, 2, 1), rgb(11, 2, 3));
}
