/*1278 Pc low resolution*/
@media only screen and (min-width: 829px) and (max-width: 1279px) {
  header .menu-hamburguesa {
    display: block;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (min-width: 925px) and (max-width: 952px) {
  body {
    font-size: 12px;
  }

  // header .menu-hamburguesa {
  //   order: -1;
  //   width: 100%;
  // }
  // nav,
  // header .menu-hamburguesa {
  //   flex-direction: column;
  //   align-items: flex-start;
  // }
}
@media only screen and (min-width: 500px) and (max-width: 924px) {
  nav {
    display: none;
  }
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 499px) {
  nav {
    display: none;
  }
  header .player-humano {
    display: none;
  }
  body {
    font-size: 12px;
  }
}
