/*1278 Pc low resolution*/
@media only screen and (min-width: 1013px) and (max-width: 1279px) {
  header .menu-hamburguesa {
    align-items: center;
    text-align: center;
  }
  body {
    main {
      .sparks {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 583px) and (max-width: 1013px) {
  nav {
    display: none;

    font-size: 12px;
  }
}

@media only screen and (min-width: 583px) and (max-width: 902px) {
  nav,
  main .imagen-godworld {
    display: none;
  }
}
@media only screen and (min-width: 200px) and (max-width: 582px) {
  nav,
  main .imagen-godworld {
    display: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 678px) {
  footer {
    .grid-container {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      ul {
        justify-content: center;
        li {
          font-size: 18px !important;
          a {
            font-size: 16px !important;
          }
        }
      }
      h2 {
        justify-content: center;
        font-size: 18px !important;
      }
      .email-support {
        font-size: 18px !important;
      }
    }
    small {
      .f-text {
        margin: 2px 80px !important;
        font-size: 8px !important;
      }
    }
  }
}

@media only screen and (min-width: 100px) and (max-width: 376px) {
  footer {
    .voto {
      display: none;
    }
    small {
      .f-text {
        margin: 2px 0px;
        font-size: 2px;
      }
    }
  }
  main {
    .animacion {
      display: none;
    }
  }
}
@media only screen and (min-width: 100px) and (max-width: 313px) {
  footer {
    small {
      display: none;
    }
  }
}
@media only screen and (min-width: 100px) and (max-width: 499px) {
  nav {
    display: none;
  }
  header .player-humano {
    display: none;
  }
  body {
    font-size: 12px;
  }
}
