@keyframes spark-5 {
  0% {
    bottom: -180px;
    transform: scale(0.6);
    opacity: 1;
  }
  25% {
    bottom: -120px;
    transform: scale(0.7);
    opacity: 1;
  }
  50% {
    bottom: -60px;
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    bottom: 0;
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    bottom: 60px;
    transform: scale(1);
    opacity: 0;
  }
}
body {
  main {
    .sparks {
      position: absolute;
      bottom: -70px;
      left: 120px;
      width: 100%;
      height: auto;
      pointer-events: none;
    }
    .sparks > div {
      position: absolute;
    }
    .sparks .spark_1 {
      background: url(../assets/spark_1.png) no-repeat;
      width: 764px;
      height: 313px;
      right: 165;
      bottom: -120px;
      transform: scale(0.7);
      animation: spark-1 4s linear infinite;
      animation-delay: 1s;
    }
    .sparks .spark_2 {
      background: url(../assets/spark_2.png) no-repeat;
      width: 149px;
      height: 335px;
      right: 230px;
      bottom: -320px;
      transform: scale(0.7);
      animation: spark-1 4s linear infinite;
      animation-delay: 2s;
    }
    .sparks .spark_3 {
      background: url(../assets/spark_3.png) no-repeat;
      width: 128px;
      height: 165px;
      right: 280px;
      bottom: -140px;
      transform: scale(0.7);
      animation: spark-3 4s linear infinite;
      animation-delay: 2s;
    }
    .sparks .spark-big {
      background: url(../assets/spark_4.png) no-repeat;
      width: 794px;
      height: 176px;
      right: 0;
      bottom: -180px;
      transform: scale(0.7);
      animation: spark-5 4s linear infinite;
    }
  }
}
